body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #444;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Feed {
  margin: auto;
  padding: 1% 1%;
}

.Feed a img {
  margin: 1% 1%;
  width: 100%;
  float: left;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}